<ion-view view-title="Uyulması Gereken Kurallar">
  <ion-content>
  <b>  Sayın Apartman Sakinleri;</b>
    <br> </br>

  <b>  <p>  Komşuluk çatısı altında bir arada yaşamak her daire sakini için önemli olan kuralların düzenlenmesiyle sağlanabilir. Ancak tüm sakinler aynı şekilde iyi bir ortak yaşam için çaba gösterdiklerinde apartman gerçek bir yuva olabilir.

<br> </br>
  Lütfen takiben sunulan maddeleri sizin ve komşularımızın davranış biçimini belirleyen ve sınırlayan kuralar olarak kabul edin.
</b><br> </br>
  <b>1-</b> Yasal olarak korunan dinlenme saatleri; 23:00 – 08:00 arası ve genel olarak Pazar günleri ve Resmi Tatil günleri’dir.
<br> </br>
  Yukarıda belirtilen yasal dinlenme saatlerinde, delik delmek, çekiç ile çalışmak, yüksek sesle müzik dinlemek, çamaşır makinesi, elektrikli süpürge vb. gürültülü makina çalıştırmak veya yüksek ses çıkarabilecek herhangi bir eylemde bulunmak kesinlikle yasaktır.
<br> </br>
  <b>2-</b> Balkonlarımız hepimizin özel kullanım alanlarıdır ve her an kullanılabileceği düşünülmelidir. Bu sebeple balkonlardan halı, kilim, sofra örtüsü, vs herhangi birşey silkelemek yasaktır.
<br> </br>
  <b>3-</b>Her türlü çöp (kül, süprüntü, şişe, teneke kutu, mutfak çöpü vs.) sadece  çöp bidonlarına dökülmelidir. Balkondan aşağı atılmamalıdır. Aynı sekilde yemek artıkları gibi maddeler, hayvan beslemek için camdan atılmamalıdır.
<br> </br>
  Örneğin; güvercinlerin bir apartmanı büyük ölçüde kirletebileceklerini ve yerde kalan yemek artıklarının sıçan ve diger haşereleri çektiğini lütfen unutmayınız.
<br> </br>
  <b>4-</b>Apartman çatısına çıkan merdiven boşluğu depo alanı değildir. Bu bölgede eşya bulundurulması yasaktır.
  </ion-content>
</ion-view>
