<ion-modal-view>
  <ion-header-bar >
    <h1 class="title">Apartman İşlemleri</h1>
    <div class="buttons">
      <button class="button" ng-click="closeModal('login')">Kapat</button>

    </div>
  </ion-header-bar>
  <ion-content>


      <div class="list">
        <button class="button button-full button-asertive"ng-click="fatura.html">
         Faturalar
        </button>
        <br/>
        <button class="button button-full button-positive" ng-click="openModal('login')">
        Hesaplar
        </button>
        <br/>
        <button class="button  button-large button-calm" ng-click="openModal('login')">
        Ödemeler
        </button>
        <button class="button  button-large button-calm" ng-click="openModal('login')">
          Şikayetler
        </button>


  </ion-content>
</ion-modal-view>
